[submodule "CODEs/pro-mern-stack"]
	path = CODEs/pro-mern-stack
	url = https://github.com/vasansr/pro-mern-stack.git
[submodule "CODEs/mern"]
	path = CODEs/mern
	url = https://github.com/tech-dojo/mern.git
[submodule "CODEs/mern-starter"]
	path = CODEs/mern-starter
	url = https://github.com/Hashnode/mern-starter.git
[submodule "CODEs/Mastering-Full-Stack-React-Web-Development"]
	path = CODEs/Mastering-Full-Stack-React-Web-Development
	url = https://github.com/PacktPublishing/Mastering-Full-Stack-React-Web-Development.git
[submodule "CODEs/Gracejs"]
	path = CODEs/Gracejs
	url = https://github.com/xiongwilee/Gracejs.git
[submodule "CODEs/Full-Stack-React-Projects"]
	path = CODEs/Full-Stack-React-Projects
	url = https://github.com/PacktPublishing/Full-Stack-React-Projects.git
[submodule "CODEs/typerx"]
	path = CODEs/typerx
	url = https://github.com/vellengs/typerx
[submodule "CODEs/nodeclub"]
	path = CODEs/nodeclub
	url = https://github.com/cnodejs/nodeclub.git
[submodule "Projects/pwa/react-pwa"]
	path = Projects/pwa/react-pwa
	url = https://github.com/Atyantik/react-pwa.git
