[submodule "CODEs/pro-mern-stack"]
	path = CODEs/pro-mern-stack
	url = https://github.com/vasansr/pro-mern-stack.git
[submodule "CODEs/mern"]
	path = CODEs/mern
	url = https://github.com/tech-dojo/mern.git
[submodule "CODEs/mern-starter"]
	path = CODEs/mern-starter
	url = https://github.com/Hashnode/mern-starter.git
[submodule "CODEs/Mastering-Full-Stack-React-Web-Development"]
	path = CODEs/Mastering-Full-Stack-React-Web-Development
	url = https://github.com/PacktPublishing/Mastering-Full-Stack-React-Web-Development.git
[submodule "CODEs/Gracejs"]
	path = CODEs/Gracejs
	url = https://github.com/xiongwilee/Gracejs.git
[submodule "CODEs/Full-Stack-React-Projects"]
	path = CODEs/Full-Stack-React-Projects
	url = https://github.com/PacktPublishing/Full-Stack-React-Projects.git
[submodule "CODEs/typerx"]
	path = CODEs/typerx
	url = https://github.com/vellengs/typerx
[submodule "CODEs/nodeclub"]
	path = CODEs/nodeclub
	url = https://github.com/cnodejs/nodeclub.git
[submodule "Projects/pwa/react-pwa"]
	path = Projects/pwa/react-pwa
	url = https://github.com/Atyantik/react-pwa.git
[submodule "Projects/pwa/pawjs"]
	path = Projects/pwa/pawjs
	url = https://github.com/Atyantik/pawjs.git
[submodule "Projects/reactxp/reactxp"]
	path = Projects/reactxp/reactxp
	url = https://github.com/microsoft/reactxp
[submodule "CODEs/TypeScript-React-Native-Starter"]
	path = CODEs/TypeScript-React-Native-Starter
	url = https://github.com/Microsoft/TypeScript-React-Native-Starter
[submodule "CODEs/21-points-react"]
	path = CODEs/21-points-react
	url = https://github.com/robmelfi/21-points-react.git
[submodule "CODEs/electron-api-demos"]
	path = CODEs/electron-api-demos
	url = https://github.com/electron/electron-api-demos.git
[submodule "Projects/tensorflow/TensorFlow-Examples"]
	path = Projects/tensorflow/TensorFlow-Examples

[submodule "Projects/velocity-react"]
	path = Projects/velocity-react
	url = https://github.com/twitter-fabric/velocity-react.git

[submodule "Projects/electron-quick-start"]
	path = Projects/electron-quick-start
	url = https://github.com/electron/electron-quick-start.git

[submodule "CODEs/cra-ts-antd"]
	path = CODEs/cra-ts-antd
	url = https://github.com/comerc/cra-ts-antd.git
[submodule "CODEs/react-app-antd-ts"]
	path = CODEs/react-app-antd-ts
	url = https://github.com/zqinmiao/react-app-antd-ts.git
[submodule "CODEs/react-typescript-mobx-antd"]
	path = CODEs/react-typescript-mobx-antd
	url = https://github.com/JanasLuo/react-typescript-mobx-antd.git
[submodule "Projects/electron-antd"]
	path = Projects/electron-antd
	url = https://github.com/lanten/electron-antd.git
[submodule "CODEs/grpc"]
	path = CODEs/grpc
	url = https://github.com/grpc/grpc.git
[submodule "CODEs/react-redux-saga-ts-demo"]
	path = CODEs/react-redux-saga-ts-demo
	url = https://github.com/BBenQi/react-redux-saga-ts-demo.git
[submodule "CODEs/react-redux-saga-boilerplate"]
	path = CODEs/react-redux-saga-boilerplate
	url = https://github.com/gilbarbara/react-redux-saga-boilerplate
