/* .ant-popover-inner {
  background: black;
}
div.ant-popover-arrow {
  border: 1px solid black;
  background-color: black;
  color: black;
  /* font-size: 3rem; */
/* width: 3rem; */
/* margin-left: 2rem;
  padding-left: 2rem; */
/* }  */
.ant-popover-buttons > .ant-btn-sm {
  font-size: 1.5rem;
  height: 3rem;
  font-height: 2rem;
}
.ant-popover-buttons > .ant-btn-primary {
  background-color: orange;
  border-color: orange;
}
.ant-popover-buttons {
  margin-right: 1.1rem;
}
.react-resizable {
  position: relative;
}

.react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 100%;
  bottom: 0;
  right: -5px;
  cursor: col-resize;
}
.height {
  height: 1px;
}
/* #card > .ant-card-head:hover {
  background: #6fd48c;
  color: white;
} */
.header {
}

.btn {
  border: none;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 15px;
  position: relative;
  background-image: linear-gradient(
    to top,
    #a8a7a7 3px,
    #ffffff 10px,
    #ffffff 10px,
    rgb(255, 255, 255) 100%
  );
}
.btn:hover {
  color: #fff;
}
.btn:after {
  content: "";
  width: 0;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 5px 5px;
  transition: all 0.35s ease 0s;
}
.btn:hover:after {
  width: 100%;
}
.btn.btn-sm {
  padding-bottom: 10px;
  background-image: linear-gradient(
    to top,
    #a8a7a7 3px,
    #ffffff 10px,
    #ffffff 10px,
    rgb(255, 255, 255) 100%
  );
}
.btn.btn-sm:after {
  height: 8px;
}
.btn.btn-xs {
  padding-bottom: 8px;
  background-image: linear-gradient(
    to top,
    #a8a7a7 3px,
    #ffffff 10px,
    #ffffff 10px,
    rgb(255, 255, 255) 100%
  );
}
.btn.btn-xs:after {
  height: 6px;
}
.btn.red:after {
  background: #ff6e6e;
}
.btn.blue:after {
  background: #5cbcf6;
}
.btn.orange:after {
  background: #ef965c;
}
.btn.green:after {
  background: #7ad79a;
}
@media only screen and (max-width: 767px) {
  .btn {
    margin-bottom: 20px;
  }
}
